<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS 語法</title>
</head>

<body>
    <div>
        <h3>CSS基本語法</h3>
    </div>
    <ol>
        <li>行內載入</li>
        <div>寫在元素標籤後面，原始的寫法，不易更改與維護。</div>
        <li>內部載入</li>
        <div>放在<code>&lt;head&gt;</code>的<code>&lt;style&gt;</code>中，設定相對應選擇器格式，可同時做新增、修改。</div>
        <li>外部載入</li>
        <div>
            將CSS格式獨立寫成.css檔，從HTML內部載入外部的檔案，在<code>&lt;head&gt;</code>使用<code>&lt;link&gt;</code>，或是在<code>&lt;style&gt;</code>中使用@import載入外部檔案
        </div>



    </ol>


    <hr>
    <a href="/">回首頁</a>
</body>

</html>