<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class="welcome">歡迎來到我的網頁</h1>
            <div class="auth-links">
                <a href="/register">註冊</a> |
                <a href="/login">登入</a>
            </div>
        </div>
        <h4 class="description">這裡會整理各種我感興趣的語言語法等等的備忘錄，希望也能對你有幫助!</h4>

        <a href="/github">GitHub 用法</a><br>
        <a href="/sql">SQL 常用語法</a><br>
        <a href="/HTML">HTML 語法</a><br>
        <a href="/css">CSS 語法</a><br>
        <a href="/js">JavaScript 語法</a><br>
        <a href="/pm25">PM2.5 資料</a>

    </div>

    <hr>

    <div class="footer">
        <div class="about-me">
            <span>關於我</span>
            <a href="https://www.youtube.com/@blood18star">YT</a>
        </div>

        <div class="copyright">
            <p>Copyright &copy;2024 Jason Yen,All Rights Reserved.</p>
            <p>Email:jasonyen199538@gmail.com</p>
        </div>
    </div>

    <div class="floating-buttons">
        <a href="#" class="floating-button" id="backToTop" title="回到頂部">↑</a>
        <a href="/" class="floating-button" title="回首頁">🏠</a>
        <a href="#" class="floating-button" id="copyUrl" title="複製網址">📋</a>
    </div>

    <script src="/static/global.js"></script>
</body>

</html>