<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1 class="welcome">歡迎來到我的網頁</h1>
    <h4 class="description">這裡會整理各種我感興趣的語言語法等等的備忘錄，希望也能對你有幫助!</h4>

    <a href="/github">GitHub 用法</a><br>
    <a href="/sql">SQL 常用語法</a><br>
    <a href="/HTML">HTML 語法</a><br>
    <a href="/css">CSS 語法</a><br>
    <a href="/js">JavaScript 語法</a>

    <hr>

    <div><!-- 畫面左邊 -->
        <span>關於我</span>
        <a href="https://www.instagram.com/jasonyen84/">IG</a>
        <span>|</span>
        <a href="https://www.facebook.com/profile.php?id=1391497454">FB</a>
        <span>|</span>
        <a href="https://www.youtube.com/@blood18star">YT</a>
    </div>

    <div><!-- 畫面右邊 -->
        <p>Copyright &copy;2024 Jason Yen,All Rights Reserved.</p>
        <p>Email:jasonyen199538@gmail.com</p>
    </div>
</body>

</html>