<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/global.css">
    <title>SQL 常見用法</title>
</head>

<body>
    <div class="container">
        <h3>SQL 常見用法</h3>
        <!-- 其他內容 -->
    </div>

    <hr>
    <div class="footer">
        <div class="about-me">
            <span>關於我</span>
            <a href="https://www.youtube.com/@blood18star">YT</a>
        </div>

        <div class="copyright">
            <p>Copyright &copy;2024 Jason Yen,All Rights Reserved.</p>
            <p>Email:jasonyen199538@gmail.com</p>
        </div>
    </div>
    <div class="floating-buttons">
        <a href="#" class="floating-button" id="backToTop" title="回到頂部">↑</a>
        <a href="/" class="floating-button" title="回首頁">🏠</a>
        <a href="#" class="floating-button" id="copyUrl" title="複製網址">📋</a>
    </div>

    <script src="/static/global.js"></script>

</body>

</html>